---
layout: page
title: Clean CaDET - Clean Code and Design Educational Tool
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">Clean CaDET</h1>
          <p class="animated fadeInUp">Clean Code and Design Educational Tool</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Vision -->
<section id="intro">
  <div class="container">
    <div class="row" id="vision">
          <div class="section-title">
            <h2>Vision</h2>
            <p>A World Powered by High Quality Software.</p>
          </div>
          <br>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/oxJzXgHYIeA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</section>

<!-- Mission -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>Mission</h2>
          <p>We are building a digital assistant for software engineers to help them develop more maintainable, reliable, and secure software.</p>
          <a class="btn btn-default btn-call-to-action" href="{{ site.baseurl }}/project" >See more</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!--<section id="feature">-->
<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col-md-6 col-md-offset-6">-->
<!--      <h2>Mission</h2>-->
<!--      <p>Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>-->
<!--      <p>Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>-->
<!--      <p>Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>-->
<!--      <a href="#" class="btn btn-view-works">View Works</a>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--</section>-->

<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Our Values</h2>
        <p>These are things that we believe are important in the way we live and work</p>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-arrow-graph-up-right"></i>
          <h4>Growth</h4>
          <p>We prioritize personal development and work fulfillment while building towards our mission</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-university"></i>
          <h4>Education</h4>
          <p>Our work serves to develop knowledge of current and future generations of software engineers</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-earth"></i>
          <h4>Community</h4>
          <p>We nurture a free-spirited internal and external community, looking for novel ideas with a personal touch</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-plus-round"></i>
          <h4>Value</h4>
          <p>We guide our efforts towards activities that bring the most value towards fulfilling our mission</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Content Start -->
<!--<section id="testimonial">-->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="section-title text-center">-->
<!--        <h2>Fun Facts About Us</h2>-->
<!--        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--      <div class="col-md-6">-->
<!--        {% if site.data.funfacts.size > 0 %}-->
<!--        <div class="block">-->
<!--          {% for ff in site.data.funfacts %}-->
<!--          <ul class="counter-box clearfix">-->
<!--            <li>-->
<!--              <div class="block">-->
<!--                <i class="{{ ff.icon }}"></i>-->
<!--                <h4 class="counter">{{ ff.counter }}</h4>-->
<!--                <span>{{ ff.text }}</span>-->
<!--              </div>-->
<!--            </li>-->
<!--            {% endfor %}-->
<!--          </ul>-->
<!--        </div>-->
<!--        {% endif %}-->
<!--      </div>-->
<!--      <div class="col-md-6">-->
<!--        {% if site.data.testimonials.size > 0 %}-->
<!--        <div class="testimonial-carousel">-->
<!--          <div id="testimonial-slider" class="owl-carousel">-->
<!--            {% for tm in site.data.testimonials %}-->
<!--            <div>-->
<!--                <img src="img/cotation.png" alt="IMG">-->
<!--                <p>{{ tm.testimonial }}</p>-->
<!--                <div class="user">-->
<!--                  <img src="{{ tm.image }}" alt="Pepole">-->
<!--                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>-->
<!--                </div>-->
<!--            </div>-->
<!--            {% endfor %}-->
<!--          </div>-->
<!--        </div>-->
<!--        {% endif %}-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
